.idea
/lab1/javaee/.idea
/lab1/javaee/.mvn
/lab1/javaee/target
/lab1/standalone/.idea
/lab1/standalone/.mvn
/lab1/standalone/target
/lab1/client/.idea
/lab1/client/.mvn
/lab1/client/target

/lab2/client/.idea
/lab2/client/.mvn
/lab2/client/target
/lab2/standalone/.idea
/lab2/standalone/.mvn
/lab2/standalone/target

/lab3/client/.idea
/lab3/client/.mvn
/lab3/client/target
/lab3/standalone/.idea
/lab3/standalone/.mvn
/lab3/standalone/target